body {
    background: #E7E6E6;
}
h2 {
    font-size: 30px;
    color: black;
    font-family: 'Georgia', serif;
}
form {
    margin: 50px auto;
}
.conten-primary {
    margin: 50px auto;
    background-color: #CBCBCB;
    border-radius: 20px;
}
  .imgcontainer .avatar{
    margin: 10px auto 10px;
    display: block;
  }
.btn {
    width: 100%;
    background-color: limegreen;
    color: white;
    border: none;
}
.btn:hover {
  background-color: white; 
  color: black;
  border: 2px solid #4CAF50;
}
footer h6{
  color: darkgrey;
}